.radial-menu,
.radial-sp-menu {
    top: 50%;
    left: 95%;
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50% !important;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
}

.menu-item1,
.menu-sp-item1 {
    width: 60%;
    height: 60%;
    /*background-color: dimGray;*/
    border-radius: 50% !important;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    z-index: 19;
    opacity:0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position: absolute;
}

.menu-item2,
.menu-sp-item2 {
    width: 60%;
    height: 60%;
    /*background-color: dimGray;*/
    border-radius: 50% !important;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    z-index: 19;
    opacity:0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}

.menu-item3,
.menu-sp-item3 {
    width: 60%;
    height: 60%;
    /*background-color: dimGray;*/
    border-radius: 50% !important;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    opacity:0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}

.menu-item4 {
    width: 60%;
    height: 60%;
    /*background-color: dimGray;*/
    border-radius: 50% !important;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}

.mask {
    top: 50%;
    left: 95%;
    width: 50px;
    height: 50px;
    /*background: darkSlateGray;*/
    background: rgba(81, 73, 127, 0.7);
    border-radius: 50% !important;
    position: absolute;
    z-index: 21;
    color: white;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
}



#back-to-top > div > div.menu-sp-item1 > a > i  {
  background-color: #07235F;
  padding:5px;
  border-radius:50%;
}


#back-to-top > div > div.menu-sp-item2 > a > i  {
  background-color: #07235F;
  padding:5px;
  border-radius:50%;
}


#back-to-top > div > div.menu-sp-item3 > a > i  {
  background-color: #07235F;
  padding:5px;
  border-radius:50%;
}


body > div.body > div.radial-menu > div.menu-item3 > a > i {
background-color: rgba(73, 63, 138, 0.63);
  padding:5px;
  border-radius:50% !important;
}


body > div.body > div.radial-menu > div.menu-item2 > a > i {
background-color: rgba(73, 63, 138, 0.63);
  padding:5px;
  border-radius:50% !important;
}


body > div.body > div.radial-menu > div.menu-item1 > a > i {
background-color: rgba(73, 63, 138, 0.63);
  padding:5px;
  border-radius:50% !important;
}


