
<head>
	<title>Send message</title>

<script type="text/javascript">


            

            function sendNotificationToAll(){


var msg = document.getElementById("noteMessage").value;

				// alert("msg > "+msg);
				var centralServer = "http://ec2-52-35-93-227.us-west-2.compute.amazonaws.com"
            	var urlIbn = centralServer+"/sendMobileNotification/"+escape(msg);



            		  var xhttp = new XMLHttpRequest();


xhttp.onreadystatechange = function() {
  if (xhttp.readyState == 4 && xhttp.status == 200) {
    // document.getElementById("demo").innerHTML = xhttp.responseText;
    alert("xhttp.responseText"+xhttp.responseText);
  }
};


xhttp.open("GET", urlIbn, true);
alert(" open data to server ");

xhttp.send();
alert(" sent ");




            }


</script>

</head>
<body>
Enter you message <br>
<textarea id="noteMessage" ></textarea>
<br>
<button onclick="sendNotificationToAll()"> send it </button>
</body>
</html>>