.portfolio_single_content{
background:#51497F;
color:white;
opacity:0.95;
padding : 15px !important;
box-shadow: 5px 5px 10px #888888;
   word-spacing: 2px;
    line-height: 20px;
}


#cta-section, #partners-section, #social-section {
	background: #f8f8f8 url('../../img/pat2.png') repeat;
}



.portfolio_menu ul li a{

color:black;

}


.portfolio_menu ul li a{
}


.navbar-shrink.navbar-default .navbar-nav > li.active > a{

/*
background-color: #370A6E;
background-image: url('../img/menu_overlay2.png');
background-size:cover;*/

}


 .navbar-shrink.navbar-default .navbar-nav > li.active > a #slide {
    transition: 1s;
    left: 0;
}


.serviceImage:hover{
background: url("../img/menuimages/servicesdark.png");
}

.nav>li>a>img {

    width:25px;
    margin: -5px 10px;

}



.abcRioButtonLightBlue{
color:black;
/*background-color: rgb(59, 89, 152);*/
background-color: none;

}

.abcRioButton{
    /*box-shadow: 0 2px 4px 0 rgb(59, 89, 152);*/
    box-shadow:none;
}




.portfolio_single_content li, ol, ul {
list-style: square ;
padding-left:10px;

}


.portfolio_single_content pre {
color: black;


}


#aboutUs-section {

background:#f8f8f8 url('../img/pat-bg.png') repeat;
}



.modal-open .modal{

z-index: 10000;

}

.hiddenWAData , .hiddenFPData , .hiddenITData {
display: none;
}


.navbar-default, .navbar-default.navbar-fixed-top.navbar-shrink {
/*.navbar-inner {*/
  background-color: #2c2c2c; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff, #51497F, #51497F);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff, #51497F, #51497F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#51497F));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff, #51497F, #51497F);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff, #51497F, #51497F);
  background-image: linear-gradient(left, #ffffff, #ffffff, #51497F, #51497F);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}






.vertDoc {
    font-size: 18px;
    line-height: 25px;
    display: block;
    transition: font-size .2s;
    -moz-transition: font-size .2s;
    -webkit-transition: font-size .2s;
}

div.vertDoc span:hover {
    font-size: 50px;
}



